.palettes
{
  display: flex;
  gap: 1rem;
}

.palette
{
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  justify-content: start;
  border: 2px dotted black;
  width: fit-content;
}

.value
{
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: color-contrast(var(--color) vs black, white);
  background-color: var(--color);
}

.side-by-side-container
{
  display: flex;
}

/* 0, 4, 6, 10, 12, 17, 20, 22, 24, 30, 40, 50, 60, 70, 80, 87, 90, 92, 94, 95, 96, 98, 100 */
.css-only
{
  --theme-base-color: var(--color, green);

  --chroma-base: 0.05;
  --palette-base-color: var(--theme-base-color);
  --md-ref-palette-primary0: oklch(from var(--palette-base-color) 0 0 h);
  --md-ref-palette-primary4: oklch(from var(--palette-base-color) 4% calc(var(--chroma-base) + (sin(0.036 * pi) * c)) h);
  --md-ref-palette-primary6: oklch(from var(--palette-base-color) 6% calc(var(--chroma-base) + (sin(0.054 * pi) * c)) h);
  --md-ref-palette-primary10: oklch(from var(--palette-base-color) 10% calc(var(--chroma-base) + (sin(0.09 * pi) * c)) h);
  --md-ref-palette-primary12: oklch(from var(--palette-base-color) 12% calc(var(--chroma-base) + (sin(0.108 * pi) * c)) h);
  --md-ref-palette-primary17: oklch(from var(--palette-base-color) 17% calc(var(--chroma-base) + (sin(0.153 * pi) * c)) h);
  --md-ref-palette-primary20: oklch(from var(--palette-base-color) 20% calc(var(--chroma-base) + (sin(0.18 * pi) * c)) h);
  --md-ref-palette-primary22: oklch(from var(--palette-base-color) 22% calc(var(--chroma-base) + (sin(0.198 * pi) * c)) h);
  --md-ref-palette-primary24: oklch(from var(--palette-base-color) 24% calc(var(--chroma-base) + (sin(0.216 * pi) * c)) h);
  --md-ref-palette-primary30: oklch(from var(--palette-base-color) 30% calc(var(--chroma-base) + (sin(0.27 * pi) * c)) h);
  --md-ref-palette-primary40: oklch(from var(--palette-base-color) 40% calc(var(--chroma-base) + (sin(0.36 * pi) * c)) h);
  --md-ref-palette-primary50: oklch(from var(--palette-base-color) 50% calc(var(--chroma-base) + (sin(0.45 * pi) * c)) h);
  --md-ref-palette-primary60: oklch(from var(--palette-base-color) 60% calc(var(--chroma-base) + (sin(0.54 * pi) * c)) h);
  --md-ref-palette-primary70: oklch(from var(--palette-base-color) 70% calc(var(--chroma-base) + (sin(0.63 * pi) * c)) h);
  --md-ref-palette-primary80: oklch(from var(--palette-base-color) 80% calc(var(--chroma-base) + (sin(0.72 * pi) * c)) h);
  --md-ref-palette-primary87: oklch(from var(--palette-base-color) 87% calc(var(--chroma-base) + (sin(0.783 * pi) * c)) h);
  --md-ref-palette-primary90: oklch(from var(--palette-base-color) 90% calc(var(--chroma-base) + (sin(0.81 * pi) * c)) h);
  --md-ref-palette-primary92: oklch(from var(--palette-base-color) 92% calc(var(--chroma-base) + (sin(0.828 * pi) * c)) h);
  --md-ref-palette-primary94: oklch(from var(--palette-base-color) 94% calc(var(--chroma-base) + (sin(0.846 * pi) * c)) h);
  --md-ref-palette-primary95: oklch(from var(--palette-base-color) 95% calc(var(--chroma-base) + (sin(0.855 * pi) * c)) h);
  --md-ref-palette-primary96: oklch(from var(--palette-base-color) 96% calc(var(--chroma-base) + (sin(0.864 * pi) * c)) h);
  --md-ref-palette-primary98: oklch(from var(--palette-base-color) 98% calc(var(--chroma-base) + (sin(0.882 * pi) * c)) h);
  --md-ref-palette-primary100: oklch(from var(--palette-base-color) 1 0 h);
}
