.palettes {
  display: flex;
  gap: 1rem;
}

.palette {
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  justify-content: start;
  border: 2px dotted black;
  width: fit-content;
}

.value {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: color-contrast(var(--color) vs black, white);
  background-color: var(--color);
}
