<h1 id="themeColor" [style.color]="'oklch(from ' + hexThemeColor + ' l c h)'">{{hexThemeColor}}</h1>
<input type="color" id="head" name="head" value="#e66465"/>
  <label for="head">Head</label>
<div class="palettes">
@for(palette of PALETTES; track $index) {
  <p>{{palette}}</p>
  <div class="palette">
    @for(value of VALUES; track $index) {
      <div [id]="palette + value" class="value" [style.--color]="'oklch(from var(--md-ref-palette-' + palette + value + ') l c h)'">{{value}}</div>
    }
  </div>
}
</div>
